<div class="book">
  <div class="leftpage">
    <h4>Wish you many more happy returns of the day, dear Harshita💖</h4>
    <p>Hope this year brings you a lot more happiness and success🥳</p>
    <img src="./assets/harbday.jpeg" style="width: 34%; height: 38%" />
  </div>
  <input type="checkbox" id="c1" />
  <input type="checkbox" id="c2" />
  <input type="checkbox" id="c3" />
  <input type="checkbox" id="c4" />
  <input type="checkbox" id="c4" />
  <div id="cover"><img src="./assets/2.jpg" /></div>
  <div class="flip-book">
    <div class="flip" id="p1">
      <div class="back">
        <img src="./assets/4.jpg" />
        <label class="back-btn" for="c1">Back</label>
      </div>
      <div class="front">
        <h2>Chotuu</h2>
        <p>
          Happy Birthday to the most adorable and cute girl, Always keep
          laughing that laugh of yours makes someone's day brighter😏.. your
          smile combined with such beautiful eyes is such a deadly combination👻
        </p>
        <video autoplay loop muted style="zoom: 40%">
          <source src="./assets/falling.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <label class="next-btn" for="c1">Next</label>
      </div>
    </div>
    <div class="flip" id="p2">
      <div class="back">
        <img src="./assets/3.jpg" />
        <label class="back-btn" for="c2">Back</label>
      </div>
      <div class="front">
        <h2>Lill Moon🌕</h2>
        <p>
          You make everything around you brighter and beautiful.. and your eyes
          are so captivating which i find getting lost into everytime😏 and i
          feel i can be my true self when i'm around you😉.. i don't know why we
          met, but i'm so happy that we did
        </p>
        <label class="next-btn" for="c2">Next</label>
      </div>
    </div>

    <div class="flip" id="p3">
      <div class="back">
        <img src="./assets/5.jpg" />
        <label class="back-btn" for="c3">Back</label>
      </div>
      <div class="front">
        <h2>Dear Madam</h2>
        <p>
          You are one of the multi-talented ppl that i met in my life, The
          Thought process of yours quite admirable, and also your talent in art,
          dance & your sense in fashion.. i believe in you that you would
          achieve great things in life and your dreams.. Your determination and
          courage will definitely make it happen dear madam💗
        </p>
        <label class="next-btn" for="c3">Next</label>
      </div>
    </div>

    <div class="flip" id="p4">
      <div class="back">
        <img src="./assets/6.jpg" />
        <label class="back-btn" for="c4">Back</label>
      </div>
      <div class="front">
        <h2>Harshita🐒</h2>
        <p>
          You Have a kind heart❤️, eventhough you try to deny it😏.. As a person
          whom i observed closely for more than an year i know your care and
          efforts madam.. I feel happy when you talk to me.. I like it, and
          because i like i, there is this nagging fear that i will lose it..
          Will you always talk to me like this?🥺
        </p>
        <button class="yes-btn" (click)="showAlert1()" style="margin-right: 5px">Yes</button>
        <button class="yes-btn" (click)="showAlert2()">No</button>
        <label class="next-btn" for="c4">Next</label>
      </div>
    </div>
    <div class="flip" id="p5">
        <div class="front">
          <h2>10 Pointerr</h2>
          <p>
            Once again, Many more happy returns of the day dear Harshita🎉🎉🎉.. and Hope this day be as beautiful as YOU.. This is my little gift to you😁.. I wanted to gift you some nice dress myself, but i'm not sure about your size and i'm not in bangalore😅.. So use this below coupon as my gift to buy some dress or any accessories
          </p>
          <a href="https://www.amazon.in/g/SB7T0LU8VJH8F1UT?ref=gc_utyp&templateId=a_generic_grey_in_noto_email_in-main">AMAZON Coupon🎉🎉</a>
        </div>
      </div>
  </div>
</div>
