.body{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto", sans-serif;
	background: linear-gradient(90deg, #fff 50%, #4a1010 50%);
}
input{
	display: none;
}
img{
	width: 100%;
	height: 100%;
}
.book{
	display: flex;
    justify-content: end;
    padding-top: 5%;
    padding-bottom: 7%;
    background-color: lightblue;
    padding-right: 7%;
}
#cover{
	width: 260px;
    height: 420px;
    color: #6b3b3b;
}
.flip-book{
	width: 260px;
    height: 420px;
	position: relative;
	perspective: 1500px;
}
.leftpage{
	width: 50%;
}
.leftpage p {
	margin-bottom: 16px; 
  }
.flip{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: left;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition: .5s;
	color: #000;
}
p{
	font-size: 14px;
	line-height: 24px;
    color: #4a1010;
	@media (max-width: 1024px) {
		font-size: 8px;
	  }

	  @media (max-width: 768px) {
		font-size: 8px;
	  }
}
a{
	font-size: 14px;
	line-height: 24px;
    color: #131bb4;
	@media (max-width: 1024px) {
		font-size: 8px;
	  }

	  @media (max-width: 768px) {
		font-size: 8px;
	  }
}
h4{
	@media (max-width: 1024px) {
		font-size: 8px;
	  }
	
	  @media (max-width: 768px) {
		font-size: 8px;
	  }
}
.front{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	box-sizing: border-box;
	padding: 0 13px;
	box-shadow: inset 20px 0 50px rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,.5);

	@media (max-width: 1024px) {
		width: 100%; 
		font-size: 7px;
	  }
	
	  @media (max-width: 768px) {
		width: 100%; 
		font-size: 7px;
	  }
}
.back{
	position: absolute;
	width: 110%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	background: #000;

	@media (max-width: 1024px) {
		width: 100%; 
		font-size: 7px;
	  }
	
	  @media (max-width: 768px) {
		width: 100%; 
		font-size: 7px;
	  }
}
.next-btn{
	position: absolute;
	bottom: 13px;
	right: 13px;
	cursor: pointer;
	color: #000;
	@media (max-width: 1024px) {
		bottom: 10px;
		right: 10px; 
	  }

	  @media (max-width: 768px) {
		bottom: 8px;
		right: 8px; 
	  }
}
.back-btn{
	position: absolute;
	bottom: 13px;
	right: 13px;
	cursor: pointer;
	color: #08ff09;
}
.yes-btn {
	padding: 0px 5px; 
	font-size: 12px; 
	margin-right: 10px; 
  }

  @media (max-width: 768px) {
	.yes-btn {
	  font-size: 8px; 
	  margin-right: 3px; 
	}
  }
#p1{
	z-index: 5;
}
#p2{
	z-index: 4;
}
#p3{
	z-index: 3;
}
#p4{
	z-index: 2;
}
#p4{
	z-index: 1;
}
#c1:checked ~ .flip-book #p1{
	transform: rotateY(-180deg);
	z-index: 1;
}
#c2:checked ~ .flip-book #p2{
	transform: rotateY(-180deg);
	z-index: 2;
}
#c3:checked ~ .flip-book #p3{
	transform: rotateY(-180deg);
	z-index: 3;
}
#c4:checked ~ .flip-book #p4{
	transform: rotateY(-180deg);
	z-index: 4;
}
#c5:checked ~ .flip-book #p5{
	transform: rotateY(-180deg);
	z-index: 5;
}